@font-face {

    font-family: "fontawesome-webfont";

    src: url( "../fonts/fontawesome-webfont.eot" );

               src: local("fontawesome-webfont"),

                   url("../fonts/fontawesome-webfont.woff") format('woff'),

                   url("../fonts/fontawesome-webfont.otf") format("opentype");

}



body {

    background-image: url('https://static.pexels.com/photos/346529/pexels-photo-346529.jpeg')!important;

    background-size: cover;



    background-color: transparent !important;

    background-blend-mode: screen;


    padding-top: 20px ;

    padding-right: 80px;

    padding-bottom: 20px;

    padding-left: 80px;



    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1C90B0', endColorstr='#F0F5FF',GradientType=1 ); /* ie6-9 */



}
@media screen and (max-width: 1024px) {
    body {
      padding-top: s0px ;

      padding-right: 10px;

      padding-bottom: 10px;

      padding-left: 10px;
    }
    .well{
      background-image: url('https://fthmb.tqn.com/uaVGoOdpU4L4P2toeltrAaTfde0=/1504x989/filters:no_upscale()/parkplay-56afae9c5f9b58b7d01bccb4.jpg')!important;

      background-size: cover;



      background-color: rgb(184,184,184);


      background-blend-mode: screen;
    }


}



/* .content {

  max-width: 3000px;

  margin: 0px;

  background: white;

  padding-top: 15px;

} */
.navbar{
  padding: 5px;
}

.insideL {

  max-width: 500px;

  padding: 5px;

  margin-left: 0px;

  background: lightgray;

}

.insideR {

  max-width: 500px;

  margin-left: 100px;

  margin-bottom: 150px;

}

.container {

  background: -moz-radial-gradient(center, ellipse cover, rgba(28,144,176,1) 0%, rgba(180,216,232,1) 72%, rgba(240,245,255,1) 100%); /* ff3.6+ */

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(28,144,176,1)), color-stop(72%, rgba(180,216,232,1)), color-stop(100%, rgba(240,245,255,1))); /* safari4+,chrome */

  background:-webkit-radial-gradient(center, ellipse cover, rgba(28,144,176,1) 0%, rgba(180,216,232,1) 72%, rgba(240,245,255,1) 100%); /* safari5.1+,chrome10+ */

  background: -o-radial-gradient(center, ellipse cover, rgba(28,144,176,1) 0%, rgba(180,216,232,1) 72%, rgba(240,245,255,1) 100%); /* opera 11.10+ */

  background: -ms-radial-gradient(center, ellipse cover, rgba(28,144,176,1) 0%, rgba(180,216,232,1) 72%, rgba(240,245,255,1) 100%); /* ie10+ */

  background:radial-gradient(ellipse at center, rgba(28,144,176,1) 0%, rgba(180,216,232,1) 72%, rgba(240,245,255,1) 100%); /* w3c */





  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1C90B0', endColorstr='#F0F5FF',GradientType=1 ); /* ie6-9 */



}

/* .jumbotron{

  background: rgb(255,255,255)!important;

} */

#home{
padding-bottom: 40px;
  background-image: url('https://fthmb.tqn.com/uaVGoOdpU4L4P2toeltrAaTfde0=/1504x989/filters:no_upscale()/parkplay-56afae9c5f9b58b7d01bccb4.jpg')!important;

  background-size: cover;



  background-color: rgb(184,184,184);


  background-blend-mode: screen;

}



#LTC{

  background-image: url('https://fthmb.tqn.com/uaVGoOdpU4L4P2toeltrAaTfde0=/1504x989/filters:no_upscale()/parkplay-56afae9c5f9b58b7d01bccb4.jpg')!important;

  background-size: cover;



  background-color: rgb(184,184,184);

  background-blend-mode: screen;

  padding-bottom: 50px;

}

#NotCov{

  background-image: url('https://fthmb.tqn.com/uaVGoOdpU4L4P2toeltrAaTfde0=/1504x989/filters:no_upscale()/parkplay-56afae9c5f9b58b7d01bccb4.jpg')!important;

  background-size: cover;



  background-color: rgb(184,184,184);

  background-blend-mode: screen;

  padding-bottom: 10px;

}

#res{

  background-image: url('https://fthmb.tqn.com/uaVGoOdpU4L4P2toeltrAaTfde0=/1504x989/filters:no_upscale()/parkplay-56afae9c5f9b58b7d01bccb4.jpg')!important;

  background-size: cover;



  background-color: rgb(184,184,184);

  background-blend-mode: screen;

  padding-bottom: 10px;

}
